{% extends "base.html" %}
{% block content %}
<h3>{{title}}</h3>
{% include "js-css.html" %}
<!-- css -->
<link rel="stylesheet" href="/static/vendor/timeline/css/timeline.css">

<!-- javascript -->
<script type="text/javascript" src="/static/vendor/moment/2.0.0/moment.js"></script>
<script type="text/javascript" src="/static/vendor/timeline/js/timeline.js"></script>

<p id="stats" >Number of records: </p>
<style type="text/css">#mytimeline .recline-timeline { border: 1px solid red;height: 400px; }
.recline-timeline #vmm-timeline-id {
  height: 350px;
  border: 1px solid green;
}

</style>
<div id="mytimeline">-----</div>	


<script type=text/javascript>

var data = [
  {id: 0, date: '2011-01-01', x: 1, y: 2, z: 3, country: 'DE', geo: {lat:52.56, lon:13.40} },
  {id: 1, date: '2011-02-02', x: 2, y: 4, z: 24, country: 'UK', geo: {lat:54.97, lon:-1.60}},
  {id: 2, date: '2011-03-03', x: 3, y: 6, z: 9, country: 'US', geo: {lat:40.00, lon:-75.5}},
  {id: 3, date: '2011-04-04', x: 4, y: 8, z: 6, country: 'UK', geo: {lat:57.27, lon:-6.20}},
  {id: 4, date: '2011-05-04', x: 5, y: 10, z: 15, country: 'UK', geo: {lat:51.58, lon:0}},
  {id: 5, date: '2011-06-02', x: 6, y: 12, z: 18, country: 'DE', geo: {lat:51.04, lon:7.9}}
];

var dataset = new recline.Model.Dataset({
  records: data
});
console.log(data)

var $el = $('#mytimeline');
$el.append("ladkjflawdlkajkl")
var timeline = new recline.View.Timeline({
  model: dataset
});
console.log(timeline)
console.log(timeline.el)
$el.append(timeline.el);
console.log($el)
// set the headline/title for each record with x column
timeline.convertRecord = function(record, fields) {
  var out = this._convertRecord(record);
  if (out) {
    out.headline = record.get('x').toString();
  }
  return out;
}
console.log("---------------")
console.log(timeline)
timeline.render();
console.log(timeline)

</script>
{% endblock %}