{% extends "base.html" %}
{% block content %}
<h3>{{title}}</h3>
<h3 id="dsource" style="visibility:hidden">{{data}}</h3>
<p id="stats" >Number of records: </p>

<div id="mygrid" style="height: 1000px; width:100%"></div>
	
{% include "js-css.html" %}

<script type=text/javascript>
	var datasource =  $('#dsource').text()
	//alert(datasource)
	// Create a dataset with a Google Docs backend and a url to the Google Doc
	var dataset = new recline.Model.Dataset({
	url:datasource,
	backend: 'csv'

  });


  dataset.fetch()

options = {
        enableCellNavigation: true,
        enableColumnReorder: false,
        multiColumnSort: true,
		autoHeight: true,
        asyncEditorLoading: true,
        forceFitColumns: true // this one is important        
    };
var $el = $('#mygrid');
var grid = new recline.View.SlickGrid({
  model: dataset,
  el: $el,
  state: { gridOptions:options}

  
});

grid.visible = true;
grid.render();

var $stats = $('#stats');
dataset.fetch().done(function() {
	$stats.append(dataset.recordCount)
	$stats.append(", Total returned " + dataset.records.length)
  //$stats.append(dataset.query({size: dataset.recordCount}));
});


</script>
{% endblock %}