<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>project browser</title>
    {% endif %}
	<style type="text/css" media="screen">
		body {font:12px Arial}
		li {font:14px Arial}
		table
		{
		    border-width: 0 0 1px 1px;
		    border-spacing: 0;
		    border-collapse: collapse;
		    border-style: solid;
			
		}

		 td,  th
		{ 
			border-color: #CCCCCC;
		    margin: 0;
		    padding: 4px;
		    border-width: 1px 1px 0 0;
		    border-style: solid;
		}
	</style>
	{% include "scripts.html" %}
  </head>
  <body>
    <div><a href="/index">Home</a> | <a href="/index">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>