{% extends "base.html" %}
{% block content %}
<h3>{{title}}</h3>
<p>Maternal, Newborn, and Child Health Initiative</p>
<div id="mygrid" style="height: 600px"></div>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
   console.log("------ " + $SCRIPT_ROOT)
</script>
{% include "js-css.html" %}

<script type=text/javascript>

	// Create a dataset with a Google Docs backend and a url to the Google Doc
	var dataset = new recline.Model.Dataset({
	//url:'https://docs.google.com/spreadsheet/pub?key=0AjcBMksBg7kEdDFDQi01ZHI3Mk54QlRKbThWOFMzWkE&output=csv',
	url:'https://docs.google.com/spreadsheet/pub?key=0AjcBMksBg7kEdHRrZXc3TG1qUHBZekdPdXdvX1BodUE&single=true&gid=0&output=csv',
	backend: 'csv'

  });


  dataset.fetch()

var options = {
    enableCellNavigation: true,
    enableColumnReorder: true,
  };
function formatter(row, cell, value, columnDef, dataContext) {
        return value;
    }
var columns = [
	{id: "year", name: "The Year", field: "Year", width: 620},
    {id: "title", name: "The Title", field: "title", width: 620}
  ];

var $el = $('#mygrid');
var grid = new recline.View.SlickGrid({
  model: dataset,
  el: $el,
  options:options
  
});
grid.visible = true;
grid.render();
</script>
{% endblock %}