

		<!-- 3rd party dependencies -->
		<script type="text/javascript" src="/static/vendor/jquery/1.7.1/jquery.js"></script>
		<script type="text/javascript" src="/static/vendor/underscore/1.4.4/underscore.js"></script>
		<script type="text/javascript" src="/static/vendor/backbone/1.0.0/backbone.js"></script>
		<script type="text/javascript" src="/static/vendor/mustache/0.5.0-dev/mustache.js"></script>
		<!-- include the backend code you need e.g. here for gdocs -->
		<script type="text/javascript" src="http://okfnlabs.org/recline.backend.gdocs/backend.gdocs.js"></script>


		<!-- Recline -->
		<script type="text/javascript" src="/static/recline.js"></script>


		<link rel="stylesheet" href="/static/vendor/bootstrap/2.0.2/css/bootstrap.css" />

		<!-- CSS for relevant view components - here we just have grid -->
		<link rel="stylesheet" href="/static/css/grid.css" />
		<link rel="stylesheet" href="/static/css/slickgrid.css">
		<link rel="stylesheet" href="/static/css/flot.css">
		<link rel="stylesheet" href="/static/css/map.css">
		<link rel="stylesheet" href="/static/css/multiview.css">
		<link rel="stylesheet" href="/static/css/timeline.css">
		<!-- /Recline CSS components -->
